In [11]:
import re

txt = "The rain in Spain"
x = re.findall("[a-i]", txt)
print(x)

['h', 'e', 'a', 'i', 'i', 'a', 'i']

In [12]:
import re

txt = "The rain in Spain kolkata pin is 700005 My phone no is 8768619628"
x = re.findall("\d", txt)
print(x)

['7', '0', '0', '0', '0', '5', '8', '7', '6', '8', '6', '1', '9', '6', '2', '8']

In [17]:
import re

txt = "The rain in Spain"
x = re.findall("r.......", txt)
print(x)

['rain in ']

In [21]:
import re

txt = "rain in Spain"
x = re.findall("^rain", txt)
if x:
    print("ha")
else:
    print("No")

ha

In [31]:
import re

txt = "rain in Spain"
x = re.findall("Spain$", txt)
if x:
    print("ha")
else:
    print("No")

ha

In [32]:
import re

txt = "The rain in Spain"
x = re.findall("ra.*n", txt)
print(x)

['rain in Spain']

In [34]:
import re

txt = "The rain in Spain"
x = re.findall("ra.?n", txt)
print(x)

['rain']

In [39]:
import re

txt = "The rain in Spain"
x = re.findall("ra.{4}n", txt)
print(x)

['rain in']

In [45]:
import re

txt = "The rain in Spain"
x = re.findall("rain|Spain", txt)
if x:
    print("Ha")
else:
    print("No")

No

In [48]:
import re

txt = "The rain in Spain"
x = re.findall("\Arain", txt)
if x:
    print("Ha")
else:
    print("No")

No

In [51]:
import re

txt = "The 23 ra12in i9n S24pain98"
x = re.findall("\d", txt)
print(x)
if x:
    print("Ha")
else:
    print("No")

['2', '3', '1', '2', '9', '2', '4', '9', '8']
Ha

In [57]:
import re

txt = "The rain in Spain"
#txt='2456312456'
x = re.findall("\D", txt)
print(x)
if x:
    print("Ha")
else:
    print("No")

[]
No

In [70]:
import re

txt = "Therain inSpain"
#txt='2456312456'
x = re.findall("\s", txt)
print(x)
if x:
    print("Ha")
else:
    print("No")

[' ']
Ha

In [69]:
import re

txt = "Ther    aininSp   ain"
#txt='2456312456'
x = re.findall("\S", txt)
print(x)
if x:
    print("Ha")
else:
    print("No")

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n']
Ha

In [75]:
import re

txt = "The rai1n i-n Spa$in _"
#txt='2456312456'
x = re.findall("\w", txt)
print(x)
if x:
    print("Ha")
else:
    print("No")

['T', 'h', 'e', 'r', 'a', 'i', '1', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n', '_']
Ha

In [74]:
import re

txt = "The rai1n in Spa$in _ @!$#%*^ 1246984"
#txt='2456312456'
x = re.findall("\W", txt)
print(x)
if x:
    print("Ha")
else:
    print("No")

[' ', ' ', ' ', '$', ' ', ' ', '@', '!', '$', '#', '%', '*', '^', ' ']
Ha

In [81]:
import re

txt = "The rain in Spain"
#txt='2456312456'
x = re.findall("Spain\Z", txt)
print(x)
if x:
    print("Ha")
else:
    print("No")

['Spain']
Ha

In [83]:
import re
txt="The rain in Spain"
x=re.findall("[ai]",txt)
print(x)

['a', 'i', 'i', 'a', 'i']

In [87]:
import re
txt=" It is the time is 02:21PM before 4PM 555 and 587 and 123 and 101 and 21"
x=re.findall("[0-5][0-5][0-9]",txt)
print(x)

['555', '123', '101']

In [134]:
import re
txt=" It is th@e t$ime is 02:21PM before 4P##M 555 a*nd 587 and 123 and 10()1 and 2{1"
x=re.findall(r"[0-9]|\s|\D",txt)
print(x)

[' ', 'I', 't', ' ', 'i', 's', ' ', 't', 'h', '@', 'e', ' ', 't', '$', 'i', 'm', 'e', ' ', 'i', 's', ' ', '0', '2', ':', '2', '1', 'P', 'M', ' ', 'b', 'e', 'f', 'o', 'r', 'e', ' ', '4', 'P', '#', '#', 'M', ' ', '5', '5', '5', ' ', 'a', '*', 'n', 'd', ' ', '5', '8', '7', ' ', 'a', 'n', 'd', ' ', '1', '2', '3', ' ', 'a', 'n', 'd', ' ', '1', '0', '(', ')', '1', ' ', 'a', 'n', 'd', ' ', '2', '{', '1']

In [133]:
import re

txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [101]:
import re

txt = "The rain in Spain"
x = re.findall("\s", txt)
print(x)
print("The first white-space character is located in position:", x.start())

[' ', ' ', ' ']

AttributeError: 'list' object has no attribute 'start'

In [109]:
import re

txt = "The rain in Spain"
x = re.search("in", txt)
#print(x)
if x:
    print("HA")
else:
    print("NO")

HA

In [113]:
import re

txt = "The rain in Spain"
txt = "Thera,ininSp,ain"
x = re.split(",", txt)
print(x)

['Thera', 'ininSp', 'ain']

In [116]:
import re

txt = "The rain in Spain"
x = re.split(" ", txt,2)
print(x)

['The', 'rain', 'in Spain']

In [118]:
import re

txt = "The rain in Spain  "
x = re.sub(" ","9" ,txt)
print(x)

The9rain9in9Spain99

In [120]:
import re

txt = "The rain in Spain"
x = re.sub(" ","9", txt,2)
print(x)

The9rain9in Spain

In [121]:
import re

txt = "The rain in Spain"
x = re.search("ai",txt)
print(x.span())

(5, 7)

In [124]:
import re

txt = "The rain in Spain"
x = re.search("ai",txt)
print(x)
print(x.string)

<re.Match object; span=(5, 7), match='ai'>
The rain in Spain

In [125]:
import re

txt = "The rain in Spain"
x = re.search("ai",txt)
print(x.group())

ai